
@import './../node_modules/reset-css/reset.css';
@import './../node_modules/font-awesome/css/font-awesome.css';

 /* bring in normalize.css styles */
/* @media all and (min-width : 240px) {}
@media (min-width:640px) and (max-width: 959px) {}
@media (min-width:960px) and (max-width: 1199px) {}
@media (min-width:1200px) {} */

@media all and (min-width : 240px) {
    body{
        max-width: 100%;
        font-family: Verdana, Tahoma, sans-serif;
    }
    .form-container{
        width: 300px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
}
@media (min-width:640px){}
@media (min-width:960px) {}
@media (min-width:1200px) {
    body{
        max-width: 1200px;
        margin: 0 auto;
        font-family: Verdana, Tahoma, sans-serif;
        height: 100%;
    }

    
}
